* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  height: 552px;
  border: 1px solid white;
  border-radius: 5px;
}

.textView {
  display: flex;
  background: white;
  border: 1px solid white;
  height: 150px;
}

.textBox {
  flex: 1;
  height: 147px;
  font-size: 50px;
  width: 100%;
  text-align: right;
}

.numbers {
  display: flex;
  height: 400px;
  flex-flow: wrap;
}

.number {
  width: 99px;
  height: 100px;
  background-color: #4a4a4a;
  border: 1px solid black;
  color: #fff;
  text-align: center;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0;
  border-bottom: 0;
  cursor: pointer;
}

.zero {
  width: 198px;
}
